{% set providers = [
  ('google', '/auth/google'),
  ('facebook', '/auth/facebook'),
  ('twitter', '/auth/twitter'),
  ('yahoo', '/auth/appengine_openid?provider=yahoo.com'),
  ('linkedin', '/auth/linkedin'),
  ('aol', '/auth/appengine_openid?provider=aol.com'),
  ('myopenid', '/auth/appengine_openid?provider=myopenid.com'),
  ('myspace', '/auth/appengine_openid?provider=myspace.com'),
  ('github', '/auth/github'),
  ('foursquare', '/auth/foursquare'),
] -%}


{% if is_user %}
<div class="span6" id="login">
    <h4>Find more friends! associate other networks.</h4>
{% else %}
<div class="span7" id="login">
    <h4>To get started, login with one of your existing accounts.</h4>
    {% endif %}
    <ul class="well">
      {% for p, u in providers %}
        {% if p in profiles_done %}
        <li class="provider-btn"><a class="btn" disabled="disabled"><img src="/img/provider-sprites.png" class="clip pos-{{ p }}"/></a></li>
        {% else %}
        <li class="provider-btn"><a href="{{ u }}" class="btn"><img src="/img/provider-sprites.png" class="clip pos-{{ p }}"/></a></li>
        {% endif %}
      {% endfor %}
    </ul>
</div><!-- End of providers list -->
{% if not is_user %}
<div class="span5">
    <h4>Or create a new one.</h4>
    <div class="password-form">
      <form method="POST" action="/auth/password" class="form-horizontal well">
        <fieldset class="control-group">
          <label for="email" class="control-label">Email</label>
          <div class="controls"><input type="text" name="email" class="input-medium" /></div>
        </fieldset>
        <fieldset class="control-group">
          <label for="password" class="control-label">Password</label>
          <div class="controls"><input type="password" name="password" class="input-medium" /></div>
        </fieldset>
        <fieldset class="form-actions">
          <button type="submit" class="btn">Login</button>
        </fieldset>
      </form>
    </div>
</div><!-- End login span -->
{% endif %}