{% from "macros/form_macros.html" import bootstrap_form_field %}
{% extends "base.html" %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Enter a new password</h1>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>


<section class="span8 columns offset4">
  <form action="" method="POST">
    {{ bootstrap_form_field(form.password) }}
    {{ bootstrap_form_field(form.confirm) }}
    <div class="actions">
      <input type="submit" value="Save" class="btn primary" />
    </div>
  </form>
</section>


{% endblock %}